* {
    box-sizing: border-box;
}

body {
    font-family: "bookerly", serif;
    font-size: 1.3em;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

h1 {
    font-size: 1.4em;
}

p {
    margin-bottom: 2em;
}

@media only screen and (min-width: 600px) {
    body {
        width: 50%;
    }
}
